@model IEnumerable<Nop.Web.Areas.Admin.Models.QrCodes.SunworldQrCodeModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BarCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Used)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SunworldProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionFiscal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionTDSSN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BarCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Used)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SunworldProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionFiscal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionTDSSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
